body {
	background-color: #EEEEEE;
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
}

header#top form {
	float: right;
}

header nav {
	float: right;
}

article {
	margin-top: 0em;
	margin-bottom: 0em;
	background-color: #FFFFEA;
	border-top-style: none;
	border-left-style: solid;
	border-left-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	border-bottom-style: solid;
	border-bottom-width: 1px;
}

article.top {
	border-top-style: solid;
	border-top-width: 1px;
}

article header {
	text-align: center;
	background-color: #EAFFFF;
	border-bottom-style: solid;
	border-width: 1px;
}

article header h1 {
	margin-top: 0;
	margin-bottom: 0;
	font-size: 120%;
}

article section.description {
	margin-right: 5%;
	margin-left: 5%;
	margin-bottom: 1em;
	margin-top: 1em;
}

article section.description img {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

article footer {
	margin-left: 2%;
	margin-right: 2%;
}

article footer time {
	float: right;
	font-style: italic;
}

span.whenfetched {
	font-style: italic;
}
