body {
	background-color: rgb(119,119,119);
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
}

div#maindiv {
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(82,164,164);
}

header#top form {
	float: right;
}

header#top nav {
	float: right;
}

.win {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #FFFFEA;
	border-style: solid none solid none;
	border-width: 2px;
}

.win + .win {
	border-top-style: none;
}

.win span.error {
	color: #FF0000;
}

.wintag {
	background-color: #EAFFFF;
	padding-bottom: 2px; /* nearly (for some reason) article header span.box border size */
	padding-top: 3px; /* article header span.box border size */
}

.wintag.expanded {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: rgb(136,137,199);
}

.wintag span.box {
	margin-top: 3px; /* article header span.box border size */
	border-style: solid;
	border-width: 3px; 
	border-color: #8888CC;
	height: 100%;
}

.wintag h1 {
	display: inline;
	margin-top: 0;
	margin-bottom: 0;
	font-size: medium;
	text-transform: capitalize;
}

.wintag h1 a {
	color: #000000;
	text-decoration: none;
}

.wintag div.meta {
	font-style: italic;
	font-size: small;
	margin-left: 3%;
}

.winbody {
	display: none;
	margin-right: 3%;
	margin-left: 3%;
	margin-bottom: 1em;
	margin-top: 1em;
	overflow: auto;
}

span.whenfetched {
	margin-left: 1%;
	font-style: italic;
}
