body {
	background-color: rgb(119,119,119);
	max-width: 60em;
	margin-left: auto;
	margin-right: auto;
	font-size: 100%;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

div#maindiv {
	background-color: #ffffff;
	border-style: solid;
	border-width: 2px;
	border-color: rgb(82,164,164);
}

header#top form {
	float: right;
}

header#top nav {
	float: right;
}

header#top a {
	color: black;
	text-decoration: none;
	padding-right: 3px;
}

header#top nav a:not(:last-child) {
	border-right: 2px solid #000000;	
}

.win {
	margin-top: 0;
	margin-bottom: 0;
	background-color: #FFFFEA;
	border-style: solid none solid none;
	border-width: 2px;
}

.win + .win {
	border-top-style: none;
}

.win span.error {
	color: #FF0000;
}

.wintag {
	background-color: #EAFFFF;
	padding-top: 0px;
}

.wintag h1 {
	padding-top: 3px; /* article header .box border size */
}

.wintag.expanded {
	border-bottom-style: solid;
	border-bottom-width: 1px;
	border-color: rgb(136,137,199);
}

.wintag .box {
	margin-top: 0px;
	margin-left: 0px;
	border-style: solid;
	border-width: 3px; 
	border-color: #8888CC;
	background-color: #EAFFFF;
	width: 1em;
	height: 2em;
	float: left;
}

.wintag h1 {
	display: inline;
	margin-top: 0;
	margin-bottom: 0;
	font-size: medium;
}

.wintag h1 a {
	color: #000000;
	text-decoration: none;
}

.wintag div.meta {
	font-style: italic;
	font-size: small;
	margin-left: 3%;
}

.winbody {
	display: none;
	margin-right: 3%;
	margin-left: 3%;
	margin-bottom: 1em;
	margin-top: 1em;
	overflow: auto;
}

.title {
	text-transform: capitalize;
}

textarea#update {
	width: 75%;
	height: 10em;
	display: block;
}

a {
	color: rgb(187,93,93);
}

a:visited {
	color: #8888CC;
}
