<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<link rel="stylesheet" href="css/acme.css">
<title>Feed Me!</title>
</head>

<body>
<div id="articles">
<header id="top">
<nav>
<a href="{{ .Logout }}">[logout]</a>
<a href="/list">[manage feeds]</a>
<a href="javascript:feedme.collapseAll()">[collapse all]</a>
<a href="javascript:feedme.expandAll()">[expand all]</a>
</nav>
{{ if .Link }}
<h1><a href="{{ .Link }}">{{ .Title }}</a></h1>
{{ else }}
<h1>{{ .Title }}</h1>
{{ end }}
</header>

{{ with .Errors }}
	<article>

	<header>
	<div>
	<span class="box">&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<h1><span class="error">Errors</span></h1>
	</div>
	</header>

	<section class="description">
	<ul>
	{{ range . }}<li><span class="error">{{ .Error }}</span></li>{{ end }}
	</ul>
	</section>
	</article>
{{ end }}
{{ range $index, $elem := .Articles }}
	<article>
	<header>
	<div>
	<span class="box">&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<h1><a href="{{ $elem.Link }}">{{ $elem.Title }}</a></h1>
	</div>
	<div class="meta">
	<span class="origin">{{ $elem.OriginTitle }}</span>
	<time datetime="{{ dateTime  $elem.When }}">{{  timeString $elem.When }}</time>
	</div>
	</header>
	<section class="description">
	{{ $elem.Description }}
	</section>
	</article>
{{end}}
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

<script type="text/javascript">
var feedme = {
	collapseAll: function () {
		$("article section.description").hide();
	},

	expandAll: function () {
		$("article section.description").show();
	},
}

$(document).ready(function(){
	$("article header span.box").click(function(event){
		var art = $(event.target).closest("article");
		var head = art.find("header");
		var sect = art.find("section.description");
		if (sect.css("display") === "none") {
			sect.show();
			head.addClass("expanded");
		} else {
			sect.hide();
			head.removeClass("expanded");
		}
	});
});
</script>

</body>

</html>