<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<link rel="stylesheet" href="css/acme.css">
<title>Feed Me!</title>
</head>

<body>
<div id="maindiv">
<header id="top">
<h1>Feeds</h1>
</header>
<div class="feeditem"><a href="/">Latest Articles</a></div>
<div class="feeditem"><a href="/all">All Articles</a></div>
<form action="/rm" method="post">
{{ range .Feeds }}
	<div class="feeditem">
	<input type="checkbox" name="{{ .EncodedKey}}">
	<a href="/{{ .EncodedKey }}">{{ .Title }}</a>
	<span class="whenfetched">
	{{ if .Fresh }}
	(Last Fetched: <time datetime="{{ dateTime .LastFetch }}"></time>)
	{{ end }}
	</span>
	</div>
{{end}}
<input type="submit" value="unsubscribe">
</form>
<form  action="/add" method="post">
<input type="submit" value="subscribe"><input type="text" value="" name="url">
</form>
<form action="/addopml" method="post" enctype="multipart/form-data">
<input type="submit" value="OPML Subscribe"><input type="file" name="opml">
</form>

</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="https://raw.github.com/timrwood/moment/2.0.0/min/moment.min.js"></script>

<script type="text/javascript">
$(document).ready(function(){
	$("time").each(function(i, elm){
		var utc = moment.utc($(elm).attr('datetime'));
		console.log(i + " " + $(elm).attr('datetime') + " " + utc + " " + utc.format('LLLL'));
		$(elm).html(utc.local().format('LLLL'));
	});
});
</script>
</body>

</html>