<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<link rel="stylesheet" href="css/acme.css">
<title>Feed Me!</title>
</head>

<body>
<div id="maindiv">
	<header id="top">
		<nav>
			<a href="{{ .Logout }}">Logout</a>
			<a href="/">Latest</a>
			<a href="/all">All</a>
			<a href="javascript:feedme.collapseAll()">Collapse</a>
			<a href="javascript:feedme.expandAll()">Expand</a>
		</nav>
		<h1>Feeds</h1>
	</header>

	<div class="win">
		<div class="wintag">
		<span class="box">&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<h1>Update Subscriptions</h1>
		</div>

		<div class="winbody">
		<form action="/update" method="post">
		<textarea id="update" name="urls">{{ range .Feeds }}{{ .Url }}
{{ end }}</textarea>
		<input type="submit" value="update">
		</form>
	
		<form action="/addopml" method="post" enctype="multipart/form-data">
		<input type="submit" value="OPML Subscribe"><input type="file" name="opml">
		</form>
		</div>
	</div>

{{ range .Feeds }}
	<div class="win">
		<div class="wintag">
		<span class="box">&nbsp;&nbsp;&nbsp;&nbsp;</span>
		<h1><a href="/{{ .EncodedKey }}">{{ .Title }}</a></h1>
		</div>

		<div class="winbody">
		{{ .Url }}<br>
		{{ if .Fresh }}
		Last Fetched: <time datetime="{{ dateTime .LastFetch }}"></time>
		{{ end }}
		</div>
	</div>
{{end}}
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</body>

</html>