<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<link rel="stylesheet" href="css/acme.css">
<title>Feed Me!</title>
</head>

<body>
<div id="maindiv">
<header id="top">
{{template "navbar.html" .}}
<h1><span class="title">{{.Title}}</span></h1>
</header>

<div class="win">
<div class="wintag">
	<span class="box">&nbsp;&nbsp;&nbsp;&nbsp;</span>
	<h1>Update Subscriptions</h1>
</div>
<div class="winbody">
	<form action="/update" method="post">
	<textarea id="update" name="urls">{{range .Feeds}}{{.Url}}
{{end}}</textarea>
	<input type="submit" value="update">
	</form>
	<form action="/addopml" method="post" enctype="multipart/form-data">
	<input type="submit" value="OPML Subscribe"><input type="file" accept=".xml" name="opml">
	</form>
</div>
</div>

{{range .Feeds}}
{{template "feed.html" .}}
{{end}}
</div>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script type="text/javascript" src="js/moment.min.js"></script>
<script type="text/javascript" src="js/common.js"></script>
</body>

</html>