<!DOCTYPE html>
<html>

<head>
<meta http-equiv="Content-Type" content="text/html;charset=utf-8" >
<link rel="stylesheet" href="css/acme.css">
<title>Feed Me!</title>
</head>

<body>
<header id="top">
<h1>Feeds</h1>
</header>

<div class="feeditem"><a href="/">All Feeds</a></div>
{{ range $index, $elem := .Feeds }}
	<div class="feeditem">
	<a href="/{{ .EncodedKey }}">{{ .Title }}</a>
	<span class="whenfetched">
	{{ if .Fresh }}
	(Last Fetched: <time datetime="{{ .DateTime }}">{{ .TimeString }}</time>)
	{{ end }}
	</span>
	</div>
{{end}}

<footer>
<form  action="/add" method="post">
<input type="submit" value="add"><input type="text" value="URL" name="url">
</form>
</footer>

</body>

</html>